@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 50px;
    color: #222222;
    line-height: 60px;
}

.padding-base {
    padding: 20px ;
}

h2 {
    font-size: 45px;
    color: #222222;
    line-height: 50px;
}

h4 {
    font-size: 20px;
    color: #222222;
}

h6 {
    font-size: 13px;
    font-weight: 500;
    color: #222222;
}

p{
    font-size: 16px;
    color: #465b52;
}

a{
    outline: none;
    color: #222222;
}

body{
    width: 100%;
}


/* header part */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 20px 80px;
    background-color: #e3e6f3;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
}

.headerButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.headerButtons a{
    padding: 0 20px;  
    font-weight: 600;
    font-size: 15px;
    color: #1a1a1a;
    position: relative;
    text-decoration: none;
    transition: all 0.4s ease 0.2s;
    /* 0.3s is delay */
}

.headerButtons a:hover,
.headerButtons a.active {
    color: #078178;
}

.headerButtons a::after,
.headerButtons a::after{
    content: '';
    position: absolute;
    transition: all 0.3s ease;
    width: 0;
    height: 3px;
    bottom: -4px;
    left: 20px;
    background-color: #078178;
}
.headerButtons a:hover::after {
    width: 30%;
}

/* home page hero part */
#hero {
    background: url('../../../default/Build-and-Deploy-Ecommerce-Website/img/hero4.png');
    background-repeat: no-repeat;
    background-position: top 15% right 0;
    background-size: cover;
    width: 100%;
    height: 85vh;
}

.heroData {
    display: flex;
    flex-direction: column;
    padding: 20px 80px;
    justify-content: center;
    height: 80vh;
    width: 100%;
}

#hero .heroData p {
    font-weight: 600;
    font-size: 18px;
}

.heroDataProperty {
    margin-bottom: 15px;
    white-space: nowrap;
}

.dataProp {
    white-space: nowrap;
}

.heroH1 {
    color: #078178;
}

#hero button {
    border: none;
    max-width: 50%;
    height: 10vh;
    display: flex;
    background-image: url('../../../default/Build-and-Deploy-Ecommerce-Website/img/button.png');
    align-items: center;
    justify-content: space-around;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    background-color: transparent;
    font-weight: 600;
    color: #078178;
}

/* feature section */
#features {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}

.feaBox {
    border: 1px solid #1a1a1a;
    border-radius: 7px;
    box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.feaBox img {
    width: 100%;
    margin-bottom: 15px;
}

.feaBox h6 {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 7px 10px;
    font-weight: 600;
    justify-content: center;
    border-radius: 7px;
}

.feaBox .f1 {
    background-color: pink;
}
.feaBox .f2 {
    background-color: lightgreen;
}
.feaBox .f3 {
    background-color: lightblue;
}
.feaBox .f5 {
    background-color: rgb(230, 46, 230);
}
.feaBox .f6 {
    background-color: lightyellow;
}
.feaBox .f4 {
    background-color: rgb(99, 67, 241);
}

/* product section */
#summerProduct, #winterProduct {
    display: flex;
    margin-top: 15px;
    padding: 20px 80px;
    align-items: center;
    flex-direction: column;
}

#winterProduct{
    align-items: flex-start;
    padding: 0;
}

#winterProduct .related-title{
    position: relative;
}

#winterProduct .related-title::after {
    content: '';
    width: 100%;
    background-color: #078178;
    height: 5px;
    position: absolute;
    bottom: -4px;
    left: 25%;
    margin-top: 5px;
}

.productContainer {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.productTemplate {
    flex: 0 0 30%;
    border: 1px solid #cce7d0;
    display: flex;
    margin-bottom: 25px;
    flex-direction: column;
    padding: 10px 15px;
    max-width: 30%;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    box-shadow: 10px 15px 20px 10px rgba(0, 0, 0, 0.07);
}

.productTemplate:hover{
    box-shadow: 10px 15px 20px 10px rgba(0, 0, 0, 0.2);
}

.productTemplate img {
    width: 100%;
    border-radius: 20px;
}

.addToCart {
    width: 40px;
    height: 40px;
    position: absolute;
    padding: 5px;
    right: 5px;
    bottom: 5px;
    fill: #fff;
    border-radius: 50%;
    border: 1px solid #cce7d0;
    font-weight: 500;
    background-color: #078178;
}

.addToCart:hover{
    fill: #078178;
    background-color: #fff;
}

.productTemplate .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px;
    padding-left: 5px;
}

/* home page banner */
#banner {
    background-image: url('../../../default/Build-and-Deploy-Ecommerce-Website/img/banner/b2.jpg');
    width: 100%;
    margin: 40px 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-position: center;
    justify-content: center;
}

.bannerMargin{
    color: #fff;
    margin-bottom: 10px;
}

#banner h2 {
    font-size: 30px;
    padding: 10px;
}

.exploreMore {
    padding: 10px 20px;
    background-color: #fff;
    color: #111111;
    cursor: pointer;
    font-weight: 600;
    border-radius: 7px;
}
.exploreMore:hover{
    background-color: #078178;
    color: #fff;
}

/* chain banners */

#bannerChain {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 80px;
}

#bannerChain .banner {
    background-image: url('../../../default/Build-and-Deploy-Ecommerce-Website/img/banner/b17.jpg');
    width: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 40% right 0;
    height: 50vh;
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 7px;
    justify-content: center;
    padding-left: 15px;
}

#bannerChain .secondBanner{
    margin-left: 10px;
    background-image: url('../../../default/Build-and-Deploy-Ecommerce-Website/img/banner/b10.jpg');
}

#bannerChain .banner h4{
    color: #fff;
    font-size: 15px;
    margin-bottom: 10px;
}

#bannerChain .banner h2{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

#bannerChain .banner p{
    color: #fff;
    margin-bottom: 10px;
}

#bannerChain .banner button , 
.normalButton{
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    border: 1px solid transparent;
    font-weight: 600;
    outline: none;
    transition: all 0.3s ease;
    border-radius: 7px;
}

#bannerChain .banner button {
    border: 1px solid #fff;
}

#bannerChain .banner:hover button {
    /* it means i want to change that thing (button) when you do hivering on .banner class */
    background-color: #078178;
    border:1px solid #078178;
}

.m40 {
    margin: 40px 0;
}

/* newsletter */
.newsletter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-image: url('../../../default/Build-and-Deploy-Ecommerce-Website/img/banner/b14.png');
    background-position: top 20% right 25%;
    background-size: cover;
    background-color: #041e42;
    padding: 20px 80px;
}

.newsletterText h4{
    color: #fff;
    margin-bottom: 10px;
    font-weight: 700;
}

.newsletterText p {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.newsletterInput {
    display: flex;
    flex-direction: row;
    width: 40%;
}

.newsletterInput input{
    /* rem is related to the base font size  */
    /* em is related to the parent font size also in addition em are relative to the font size of the element they’re used on */
    height: 3rem;
    padding: 0 1.5em;
    width: 100%;
    outline: none;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.newsletterInput button {
    background-color: #078178;
    color: #fff;
    white-space: nowrap;
    font-size: 14px;
    padding: 1em 1.5em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* footer */

#footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 80px;
}

.col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 1 25%;
}

.col .AddressSpan {
    color: #1a1a1a;
    font-size: 16px;
    white-space: nowrap;
    font-weight: 600;
}

.col .AddressSpanData {
    color: #465b52;
}

.col img {
    width: 90px;
    height: 30px;
}

.mb-15 {
    margin-bottom: 15px;
}

.links {    
    display: flex;
    flex-direction: column;
}

.mb-7 {
    margin-bottom: 7px;
}

.col .follow {
    display: flex;
    flex-direction: column;
}

.col .follow .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icons a {
    margin-right: 8px;
}

.icons a:hover {
    fill: #078178;
}

.links a {
    text-decoration: none;
    color: #1a1a1a;
    margin-bottom: 7px;
    font-weight: bold;
}

.links a:hover {
    color: #08a89e;
}

.installParagraph {
    font-weight: 600;
}

.shopGateways {
    display: flex;
    flex-direction: column;
}

.gates {
    display: flex;
    flex-direction: row;
}

.installButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.installButtons .google-play {
    border-radius: 10px;
    border: 1px solid #078178;
    width: 45%;
    background-color: #dddddd;
}

.installButtons .app-store {
    width: 45%;
    border-radius: 10px;
    border: 1px solid #078178;
}

.copyright {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    color: rgba(0, 0, 0);
}

.installButtons img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

.hamburgerMenu{
    display: none;
}

@media(max-width:567px){
    .col:first-child{
        flex: 0 1 100%;
    }
}

@media(max-width:1200px){
    .feaBox{
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .addressData{
        margin-bottom: 10px;
    }

    #footer .col{
        flex: 0 1 50%;
        margin-bottom: 20px;
    }
}

@media(max-width:1135px){
    .addToCart{
        width: 30px;
        height: 30px;
    }
}

@media(max-width:1050px){
    #hero {
        background-position: top 15% left 55%;
    }
}

@media(max-width:900px){
    .productTemplate .description h4{
        font-size: 15px ;
    }

    .productTemplate .description p{
        font-size: 14px;
    }
}

@media(max-width:850px){
    #bannerChain .banner {
        width: 100%;
        margin-bottom: 10px;
    }

    #bannerChain .secondBanner{
        margin-left: 0;
    }

    .productContainer .productTemplate{
        flex: 0 1 100%;
        max-width: 100%;
    }
}

@media(max-width:885px){
    .newsletterText{
        display: block;
        width: 100%;
        text-align: center;
    }
    .newsletterInput {
        margin-top: 15px;
        width: 100%;
    }
}

@media(max-width:657px){
    #banner h2{
        font-size: 20px ;
    }
    #hero h4, .productTemplate .description h4, #banner h4, #footer .col h4{
        font-size: 13px ;
    }

    .hamburgerMenu{
        display: block;
    }

    #hero p , #summerProduct p, .productTemplate .description p, #footer .col p{
        font-size: 14px;
    }

    #hero h1{
        font-size: 20px;
    }

    #hero h2, #summerProduct h2{
        font-size: 15.5px;
    }

    #hero button{
        background-image: none;
        padding: 5px 10px;
        border: 1px solid #078178;
        border-radius: 10px;
        white-space: nowrap;
        height: 5vh;
        max-width: 25%;
    }

    .exploreMore{
        padding: 10px 20px;
    }


    #header, #summerProduct, .newsletter, #footer, #singleProduct, .padding2080 {
        padding: 20px 40px;
    }

    #features {
        padding: 20px 40px;
    }

    #hero {
        background-position: top 15% left 65%;
    }

    .heroData, #bannerChain{
        padding: 20px 40px;
    }

    .productTemplate{
        width: 100%;
        flex: 0 1 100%;
    }
}

@media(max-width:600px){
    .newsletterText p{
        font-size: 13.5px;
    }
}

@media(max-width:800px){
    #banner h2{
        font-size: 25px ;
    }
    #hero h4, .productTemplate .description h4, #banner h4, #footer .col h4{
        font-size: 15px ;
    }

    #hero p , #summerProduct p, .productTemplate .description p, #footer .col p{
        font-size: 14px;
    }

    .hamburgerMenu{
        display: block;
    }

    #hero h1{
        font-size: 35px;
    }

    #hero h2, #summerProduct h2{
        font-size: 32.5px;
    }

    .headerButtons {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        transition: all 0.9s ease;
        width: 35%;
        background-color: #e3e6f3;
        box-shadow: 0 40px 150px rgba(0, 0, 0, 0.3);
        padding: 80px 0 0 10px;
    }

    .headerButtons a {
        margin-bottom: 20px;
    }

    .headerButtons a.active::after{
        content: '';
        position: absolute;    
        width: 30%;
        height: 3px;
        bottom: -4px;
        left: 20px;
        background-color: #078178;
    }
}

@media(max-width:770px){
    #banner{
        background-position: right 0;
    }
}

@media(max-width:685px){
    .productTemplate .description svg{
        width: 25px;
        height: 25px;
    }

    .productTemplate .description h4{
        font-size: 14px ;
    }

    .productTemplate .description p{
        font-size: 14.5px;
    }
}

@media(max-width:510px){
    #banner h2{
        font-size: 17.5px ;
    }
    #hero h4, .productTemplate .description h4, #banner h4, #footer .col h4{
        font-size: 11px ;
    }

    .hamburgerMenu{
        display: block;
    }

    #hero p {
        font-weight: 600px;
    }

    #hero h1{
        font-size: 18px;
    }

    #hero p, #summerProduct p, .productTemplate .description p, footer .col p {
        font-size: 12.5px;
    }

    #header, #summerProduct, .newsletter, #footer {
        padding: 10px 20px;
    }

    #features {
        padding: 10px 20px;
    }

    .heroData, #bannerChain{
        padding: 10px 20px;
    }

    #hero h2, #summerProduct h2{
        font-size: 13px;
    }
}

@media(max-width:470px){
    .productTemplate .description svg{
        width: 20px;
        height: 20px;
    }
}

@media(max-width:455px){
    .brand{
        font-size: 9px;
    }
    .productTemplate .description h4{
        font-size: 9.5px;
    }
}

@media(max-width:425px){
    #header, #summerProduct, .newsletter, #footer {
        padding: 5px 10px;
    }

    #footer .col{
        flex: 0 1 100%;
    }

    .heroData, #bannerChain{
        padding: 5px 10px;
    }

    #hero button {
        padding: 5px 10px;
    }

    .exploreMore{
        padding: 5px 10px;
    }

    #features {
        padding: 5px 10px;
    }

    #hero {
        background-position: top 15% left 70%;
    }
}

@media(max-width:415px){
    .newsletterText p{
        font-size: 11px;
    }
}

@media(max-width:390px){
    .brand{
        font-size: 8px;
    }
    .productTemplate .description h4{
        font-size: 8.5px;
    }
}

@media(max-width:387px){
    #features .feaBox{
        width: calc(50% - 10px);
    }
}

@media(max-width:360px){
    #banner h2 {
        font-size: 15px;
    }
}

@media(max-width:587px){
    #bannerChain{
        justify-content: center;
    }
    #bannerChain .banner{
        width: 100%;
        margin-bottom: 10px;
    }

    #bannerChain .secondBanner{
        margin-left: 0;
    }
}

/* product page */

#singleProduct{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.product-image{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 50px;
}

#mainImage img{
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
}

.smallImagesGroup{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product-details{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
}

.count-buy{
    display: flex;
    flex-direction: row;
}

.count-buy input{
    margin-right: 20px;
    width: 25%;
    border-radius: 10px;
    outline: none;
    border: 1px solid #1a1a1a;
}

.m30{
    margin-bottom: 30px;
}

.essentialDetails .data {
    font-weight: 700;
    white-space: nowrap;
}

.m40{
    margin-bottom: 40px;
}

.m10{
    margin-bottom: 10px;
}

.m20{
    margin-bottom: 20px;
}

.productDetailText{
    width: 60%;
    font-size: 22px;
}

.product-addToCart {
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border: 1px solid transparent;
    background-color: #078178;
    color: #fff;
    border-radius: 10px;
}

.product-addToCart:hover{
    background-color: #e3e6f3;
    color: #078178;
}

.essentialDetails{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-bottom: 20px;
    width: 100%;
    font-size: 20px;
}

.size{
    width: 50%;
}

.smallImagesGroup img{
    flex: 0 1 23%;
    max-width: 23%;
    border-radius: 5px;
    cursor: pointer;
}

/* padding parts */

.padding2040{
    padding: 20px 40px;
}

.padding510{
    padding: 5px 10px;
}

.padding1020{
    padding: 10px 20px;
}

.padding2080{
    padding: 20px 80px;
}

/* product page media */

@media(max-width:1200px){
    .productDetailText{
        width: 80%;
    }
    .essentialDetails h2 {
        font-size: 32px;
    }
    .essentialDetails h4 {
        font-size: 18px;
    }
}

@media(max-width:1050px){
    .productDetailText{
        width: 90%;
    }
}

@media(max-width:1000px){
    #singleProduct{
        padding: 20px 80px 0 80px;
    }
}

@media (max-width:900px){
    .productDetailText{
        width: 100%;
    }
}

@media(max-width:815px){
    #singleProduct{
        flex-direction: column;
    }
    .essentialDetails h4 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .essentialDetails h6 {
        font-size: 16px;
    }
    .product-image{
        width: 100%;
    }
    .product-details{
        width: 100%;
    }
    .essentialDetails{
        align-items: center;
        margin-top: 10px;
    }

    .size {
        width:85%;
        border-radius:10px
    }
    .count-buy{
        justify-content: space-between;
        width: 85%;
    }
    .count-buy input{
        flex: 0 1 20%;
        width: 20%;
    }
    .count-buy input{
        flex: 0 1 20%;
        max-width: 20%;
    }
    .product-addToCart{
        flex: 0 1 75%;
        max-width: 75%;
    }
}

@media(max-width:478px){
    .essentialDetails h4 {
        font-size: 21px;
    }
    .essentialDetails h6 {
        font-size: 14px;
    }
    .essentialDetails h2 {
        font-size: 26px;
    }
    .productDetailText{
        font-size: 18px;
    }
}

@media(max-width:415px){
    .productDetailText{
        font-size: 15px;
    }
}

@media(max-width:500px){
    #winterProduct .productTemplate{
        flex: 0 1 44%;
        max-width: 44%;
    }
}
